{% extends "base.html" %}
{% block content %}

<!-- banner image -->
<div class="section no-pad-bot">
    <img class="responsive-img" width="100%" src="static/images/banner-image.png">
</div>

<!-- intro section -->
<div class="container">
    <div class="section">
        <p class="left-align flow-text">Meals made with simple ingredients that are easy to prepare and big on flavor. Recipely is sure to be the key ingredient to change your approach to the kitchen!</p>
    </div>
</div>

<!-- features section -->
<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center teal-text"><i class="fas fa-plus"></i></h2>
                    <h5 class="center">Add Recipes</h5>

                    <p class="light center">We did most of the heavy lifting for you to provide a default stylings that
                        incorporate our custom components. Additionally, we refined animations and transitions to
                        provide a smoother experience for developers.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center teal-text"><i class="fas fa-user-cog"></i></h2>
                    <h5 class="center">Search Recipes</h5>

                    <p class="light center">By utilizing elements and principles of Material Design, we were able to create a
                        framework that incorporates components and animations that provide more feedback to users.
                        Additionally, a single underlying responsive system across all platforms allow for a more
                        unified user experience.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center teal-text"><i class="fas fa-utensils"></i></h2>
                    <h5 class="center">Enjoy!</h5>

                    <p class="light center">We have provided detailed documentation as well as specific code examples to help
                        new users get started. We are also always open to feedback and can answer any questions a user
                        may have about Materialize.</p>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}